html{ 
	background-color:transparent;
	background:transparent;
}

body { 
	/* margin: 0 auto; */
	background-color:transparent;	
}

.wrapper {
	/* width: 100%;
	height: 100%; */
	width:450;
	height:405;
}

.canvas-01 {
	width: 550;
	height: 50;
}

.canvas-02 {
	display: block;
	width: 550;
	height: 540;
	transform: rotateX(50deg);
}

.perspective {
	display: block;
	/* 관찰자 시점을 설정 */
	transform-style: preserve-3d;
	perspective:200px; 
}